<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ARMembed___Vending_Control.My.MySettings.ARM_IOTVMConnectionString"
            connectionString="Data Source=iotvm.database.windows.net;Initial Catalog=ARM_IOTVM;Persist Security Info=True;User ID=henry1758"
            providerName="System.Data.SqlClient" />
        <add name="ARMembed___Vending_Control.My.MySettings.ARM_IOTVMConnectionString1"
            connectionString="Driver={SQL Server Native Client 11.0};server=tcp:iotvm.database.windows.net,1433;uid=henry1758@iotvm;pwd=1102104112And16;app=Microsoft® Visual Studio® 2015;wsid=HENRY;database=ARM_IOTVM;encrypt=yes"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>